html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  --border-solid-silver-1px: solid silver 1px;
  --border-solid-tomato-1px: solid tomato 1px;
  --blue-background: #9996bd;
  --padding-2per: 2%;
  --padding-3per: 3%;
}
